services:

  Mittwald\CacheStatsWidget\:
    resource: '../Classes/*'

<<<<<<< HEAD
  dashboard.widget.opCache:
    class: 'Mittwald\CacheStatsWidget\Widgets\AbstractDoughnutChartWidget'
    arguments:
      $dataProvider: '@Mittwald\CacheStatsWidget\Widgets\OpCacheWidget'
      $view: '@dashboard.views.widget'
    tags:
      - name: dashboard.widget
        identifier: 'opCache'
        groupNames: 'systemInfo'
        title: 'LLL:EXT:mw_cache_widget/Resources/Private/Language/locallang.xlf:opCacheWidget.title'
        description: 'LLL:EXT:mw_cache_widget/Resources/Private/Language/locallang.xlf:opCacheWidget.description'
        iconIdentifier: 'tx-mw_cache_widget-widget-icon'
        height: 'medium'

  dashboard.widget.apcuCache:
    class: 'Mittwald\CacheStatsWidget\Widgets\AbstractDoughnutChartWidget'
    arguments:
      $dataProvider: '@Mittwald\CacheStatsWidget\Widgets\ApcuCacheWidget'
      $view: '@dashboard.views.widget'
    tags:
      - name: dashboard.widget
        identifier: 'apcuCache'
        groupNames: 'systemInfo'
        title: 'LLL:EXT:mw_cache_widget/Resources/Private/Language/locallang.xlf:apcuCacheWidget.title'
        description: 'LLL:EXT:mw_cache_widget/Resources/Private/Language/locallang.xlf:apcuCacheWidget.description'
        iconIdentifier: 'tx-mw_cache_widget-widget-icon'
        height: 'medium'
=======
  opCache:
    class: Mittwald\CacheStatsWidget\Widgets\OpCacheWidget
    arguments: ['opCache']
    tags:
      - name: dashboard.widget
        widgetGroups: 'typo3'

  apcuCache:
    class: Mittwald\CacheStatsWidget\Widgets\ApcuCacheWidget
    arguments: ['apcuCache']
    tags:
      - name: dashboard.widget
        widgetGroups: 'typo3'
>>>>>>> parent of 812eb1f... v1.10
